.wrap {
  max-width: 1500px;
  margin: 0px auto;
}

/* header-top ----------------------------------------------------------------*/
.header-top {
  width: 100%;
  margin: 15px auto;
  overflow: hidden;
  background: #FFF;
}

.logo {
  float: left;
  margin-left: 4%;
}

.right-menu {
  float: right;
  margin-top: 14px;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  margin-right: 1%;
}

.right-menu li {
  display: inline-block;
}

.right-menu li a {
  color: #878787;
  display: block;
  margin: 0px 20px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.right-menu nav a:hover {
  color: #64a8d6;
}

header .right-menu nav .current a {
  color: #64a8d6;
}

/*header----------------------------------------------------------------------*/
.header-main {
  background-image: url(../images/banner.jpg);
  height: 843px;
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-slogan {
  font-family: UbuntuBold, Arial, Helvetica, sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  padding-top: 240px;
  color: white;
  padding-left: 50px;
  line-height: 1.5em;
}

.text-slogan-down {
  font-size: 24px;
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  color: white;
  padding-left: 50px;
  padding-top: 40px;
}

.text-sd-down {
  font-family: UbuntuMedium, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 50px;
  padding-top: 70px;
  color: white;
}

.tsd-free-span {
  background-color: #ffce54;
  border-radius: 3px;
}

.input-text {
  height: 55px;
  width: 425px;
  margin-left: 50px;
  margin-top: 30px;
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid white;
  padding-left: 25px;
}

.it-button {
  border: 1px solid #77c344;
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 7px;
  height: 60px;
  width: 110px;
  background-color: #77c344;
  color: white;
}

/* header-bottom -------------------------------------------------------------*/
/* переробив на flex
.company {
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-areas: "evernote microsoft google sony firefox";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  background: #f8f8f8;
}

.container>div {
  border: 1px dashed #888;
}

.evernote {
  grid-area: evernote;
  align-self: center;
  justify-self: center;
}

.microsoft {
  grid-area: microsoft;
  align-self: center;
  justify-self: center;
}

.google {
  grid-area: google;
  align-self: center;
  justify-self: center;
}

.sony {
  grid-area: sony;
  align-self: center;
  justify-self: center;
}

.firefox {
  grid-area: firefox;
  align-self: center;
  justify-self: center;
}
*/
.company {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background: #f8f8f8;
}

/*main content part 1---------------------------------------------------------*/
.why-tank-app {
  background: #FFF;
  padding: 6% 0;
}

.why-tank-part1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 39px;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  color: #5a626e;
  padding-bottom: 82px;
}

.why-tank-part2 {
  display: flex;
  justify-content: space-between;
}

.text {
  width: 43%;
  margin-left: 50px;
  min-width: 500px;
}

.picture {
  text-align: right;
  min-width: 550px;
}

.picture img {
  width: 100%;
  height: 100%;
}

.text .why-logo {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #646464;
  text-align: left;
  padding-left: 10px;
}

.why-logo img {
  padding-right: 20px;
}

.text .why-p {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5a626e;
  line-height: 22px;
  padding-top: 15px;
  padding-bottom: 20px;
}

/*main content part 2---------------------------------------------------------*/
div.different {
  height: 732px;
  background: #efefef url(../images/ships.png)100% 100% no-repeat;
  position: relative;
}

.different-h {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 39px;
  color: #5a626e;
  text-align: center;
  padding-top: 157px;
}

.different-h2 {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #5a626e;
  margin-left: 165px;
  margin-bottom: 34px;
  margin-top: 100px;
}

.different-h2 img {
  padding-right: 20px;
}

.different-p {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  line-height: 32px;
  color: #9499a2;
  width: 43%;
  min-width: 560px;
  padding-left: 128px;
}

.pages {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #9499a2;
  justify-content: space-around;
  display: flex;
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 10%;
}

.pages .page-one {
  color: white;
  background: #64a4d7;
}

.pages .page {
  border-radius: 50%;
  margin-right: 15px;
  padding: 5px 8px;
}

/*
div.page {
  display: inline-block;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #9499a2;
  text-align: left;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  padding: 5px;
  text-align: center;
}

.page4 {
  position: absolute;
  bottom: 124px;
  left: 740px;
}

.page4 .one {
  color: white;
  background: #64a4d7;
  border-radius: 50%;
}
*/
/*main content part 3---------------------------------------------------------*/
.singup {
  height: 480px;
}

.singup h3 {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: #5a626e;
  text-align: center;
  text-transform: uppercase;
  padding-top: 140px;
}

.singup p {
  font-family: UbuntuItalic, Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #5a626e;
  text-align: center;
  line-height: 100px;
}

.singup form {
  text-align: center;
}

.singup input[type=email] {
  width: 40%;
  height: 66px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 133px;
  padding-left: 77px;
  border: 1px solid #d1d1d1;
  background: url("../images/letter.png") 25px center no-repeat;
}

.singup input::placeholder {
  opacity: 0.3;
  font-weight: 300;
  font-family: OpenSansRegular, Arial, Helvetica, sans-serif;
  font-size: 21px;
}

.singup button.green-button {
  width: 190px;
  height: 70px;
  border-radius: 3px;
  color: #ffffff;
  background: #77c344;
  font-weight: 500;
  margin-left: 31px;
  cursor: pointer;
  border: none;
  font-size: 20px;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
}

/*footer content--------------------------------------------------------------*/
.footer-content {
  height: 139px;
  background: #f9f9f9;
  display: flex;
  justify-content: space-around;
  min-width: 1044px;
}

.logo-footer {
  margin-left: 4%;
  margin-top: 4%;
}

.footer-nav {
  margin-left: 20%;
  padding-top: 4%;
}

footer nav a {
  text-decoration: none;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5e6673;
  text-align: left;
  text-transform: uppercase;
  margin-right: 32px;
}

.divider:after {
  content: "|";
  font-size: 14px;
}

.social {
  margin-right: 1%;
  padding-top: 4%;
}

.face {
  margin-left: 23px;
}

.goog {
  margin-left: 22px;
}