.wrap {
  width: 100%;
  max-width: 1500px;
  margin: 0px auto;
}

/* header-top ----------------------------------------------------------------*/
.header-top {
  width: 100%;
  margin: 15px auto;
  overflow: hidden;
  background: #FFF;
}

.logo {
  float: left;
  margin-left: 50px;
}

.right-menu {
  float: right;
  margin-top: 14px;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
}

.right-menu li {
  display: inline-block;
}

.right-menu li a {
  color: #878787;
  display: block;
  margin: 0px 20px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

#nav a:hover {
  color: #64a8d6;
}

#nav .current a {
  color: #64a8d6;
}

/*header----------------------------------------------------------------------*/
.header-main {
  background-image: url(../images/banner.jpg);
  height: 843px;
  background-position: center 100%;
  background-repeat: no-repeat;
}

.text-slogan {
  font-family: UbuntuBold, Arial, Helvetica, sans-serif;
  font-size: 52px;
  text-transform: uppercase;
  padding-top: 240px;
  color: white;
  padding-left: 50px;
  line-height: 1.5em;
}

.text-slogan-down {
  font-size: 24px;
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  color: white;
  padding-left: 50px;
  padding-top: 40px;
}

.text-sd-down {
  font-family: UbuntuMedium, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding-left: 50px;
  padding-top: 70px;
  color: white;
}

.tsd-free-span {
  background-color: #ffce54;
  border-radius: 3px;
}

.input-text {
  height: 55px;
  width: 425px;
  margin-left: 50px;
  margin-top: 30px;
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 7px;
  border: 1px solid white;
  padding-left: 25px;
}

.it-button {
  border: 1px solid #77c344;
  font-family: UbuntuLight, Arial, Helvetica, sans-serif;
  font-size: 18px;
  border-radius: 7px;
  height: 60px;
  width: 110px;
  background-color: #77c344;
  color: white;
}

/* header-bottom -------------------------------------------------------------*/
/* переробив на flex
.company {
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-areas: "evernote microsoft google sony firefox";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  background: #f8f8f8;
}

.container>div {
  border: 1px dashed #888;
}

.evernote {
  grid-area: evernote;
  align-self: center;
  justify-self: center;
}

.microsoft {
  grid-area: microsoft;
  align-self: center;
  justify-self: center;
}

.google {
  grid-area: google;
  align-self: center;
  justify-self: center;
}

.sony {
  grid-area: sony;
  align-self: center;
  justify-self: center;
}

.firefox {
  grid-area: firefox;
  align-self: center;
  justify-self: center;
}
*/
.company {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100px;
  background: #f8f8f8;
}

/*main content----------------------------------------------------------------*/
.why-tank-app {
  position: relative;
  width: 100%;
  height: 1017px;
  background: url(../images/macbook.png) 100% 69% no-repeat;
}

.why-tank {
  color: #2d394c;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  width: 315px;
  height: 40px;
  position: absolute;
  top: 112px;
  left: 547px;
  font-size: 39px;
  text-transform: uppercase;
  transform-origin: left center;
}

.why-tank-p {
  padding-top: 281px;
  padding-right: 850px;
  padding-left: 148px;
}

.why-tank-p .why-p p {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #9499a2;
  text-align: left;
  line-height: 22px;
}

.why-tank-p .why-logo {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #646464;
  text-align: left;
  padding-left: 60px;
}

.why-logo {
  position: relative;
}

.why-logo img {
  position: absolute;
  left: -10px;
  top: -10px;
}

.why-tank-p div.why-p {
  width: 500px;
  height: 102px;
  margin-top: 21px;
  margin-bottom: 10px;
}

.why-tank-p div.why-p.second {
  margin-bottom: 20px;
}

div.diffrent {
  height: 732px;
  background: #efefef url(../images/ships.png)100% 100% no-repeat;
  position: relative;
}

.diffrent-h {
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 39px;
  color: #2d394c;
  text-align: left;
  padding-top: 157px;
  margin-left: 470px;
  text-transform: uppercase;
  transform-origin: left center;
}

.diffrent-h2 {
  margin-left: 216px;
  margin-bottom: 34px;
  margin-top: 162px;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: #2d394c;
  text-align: left;
}

.diffrent-h2 img {
  position: absolute;
  left: 124px;
  top: 349px;
}

.diffrent-p {
  padding-left: 128px;
  padding-right: 647px;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #9499a2;
  text-align: left;
}

div.page {
  display: inline-block;
  font-family: UbuntuRegular, Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #9499a2;
  text-align: left;
  margin-right: 5px;
  width: 15px;
  height: 15px;
  padding: 5px;
  text-align: center;
}

.page4 {
  position: absolute;
  bottom: 124px;
  left: 740px;
}

.page4 .one {
  color: white;
  background: #64a4d7;
  border-radius: 50%;
}